.DS_Store

# ignore IDE Settings
.idea/
.idea_modules/
nbproject/private/
nbbuild/
nbdist/
.nb-gradle/
_pgbackup
pinegrow.json

## ignore packager folders
bower_components/
node_modules/

## ignore tempory folders
tmp
.sass-cache/

## Log files
# *.logs

### Versioning
.svn/

# Drupal
/modules/contrib
/themes/contrib

# Specials
/assets/colors.png
