# behat.yml

installation:
  autoload:
    - ${site.profiles.dir}/varbase/tests/features/bootstrap/
  suites:
    default:
      contexts:
        - '\Greencko\tests\Context\InstallationContext'
        - '\Greencko\tests\Context\GreenckoContext'
        - VarbaseContext:
            parameters:
              varbase_users:
                webmaster: { email: 'webmaster@greencko.site', password: '.test12345' }
        - SelectorsContext:
            parameters:
              files_path: "${behat.tests.dir}/selectors/"
              files:
                - "installation-selectors.yml"
        - '\Drupal\DrupalExtension\Context\DrupalContext'
        - '\Drupal\DrupalExtension\Context\MinkContext'
        - '\Drupal\DrupalExtension\Context\MessageContext'
        - '\Drupal\DrupalExtension\Context\DrushContext'
        - '\Drupal\DrupalExtension\Context\MarkupContext'
        - '\Drupal\DrupalExtension\Context\BatchContext'
        - '\rdx\behatvars\BehatVariablesContext'
        - behatch:context:browser:
            timeout: 1
        - behatch:context:debug:
            screenshotDir: "${behat.output.dir}/installation/screenshots/"
        - behatch:context:json:
            evaluationMode: javascript
        - behatch:context:rest
        - behatch:context:system:
            root: '${docroot}'
        - behatch:context:table
        - behatch:context:xml
      paths:
        features: '${behat.tests.dir}/features/installation'
      filters:
        tags: "@installation"
  extensions:
    Behat\MinkExtension:
      files_path: "${behat.tests.dir}/assets/"
      zombie: ~
      base_url: "${behat.base_url}"
      javascript_session: selenium_chrome_session
      default_session: goutte_session
      sessions:
        goutte_session:
          goutte:
            guzzle_parameters:
              ssl.certificate_authority: false
        selenium_chrome_session:
          selenium2:
            browser: chrome
            wd_host: "${behat.webdriver_url}"
            capabilities:
              marionette: null
              browserName: chrome
              extra_capabilities:
                chromeOptions:
                  args:
                    - "--window-size=1920,1080"
                    - "--headless"
                    - "--disable-gpu"
                    - "--no-sandbox"
                    - "--disable-dev-shm-usage"
                    - "--disable-extensions"
    Behatch\Extension: ~
    Drupal\DrupalExtension:
      blackbox: ~
    emuse\BehatHTMLFormatter\BehatHTMLFormatterExtension:
      name: html
      renderer: Twig
      file_name: index
      print_args: true
      print_outp: true
      loop_break: true
    rdx\behatvars\BehatVariablesExtension: ~
  formatters:
    progress: true
    html:
      output_path: '${behat.output.dir}/installation'

default:
  autoload:
    - ${site.profiles.dir}/varbase/tests/features/bootstrap/
  suites:
    default:
      contexts:
        - '\Greencko\tests\Context\GreenckoContext'
        - VarbaseContext:
            parameters:
              varbase_users:
                webmaster: { email: 'webmaster@greencko.site', password: '.test12345' }
                test.authenticated: { email: 'test.authenticated@greencko.site', password: '.12345test' }
                test.editor: { email: 'test.editor@greencko.site', password: '.12345test' }
                test.content_admin: { email: 'test.content_admin@greencko.site', password: '.12345test' }
                test.seo_admin: { email: 'test.seo_admin@greencko.site', password: '.12345test' }
                test.site_admin: { email: 'test.site_admin@greencko.site', password: '.12345test' }
                test.super_admin: { email: 'test.super_admin@greencko.site', password: '.12345test' }
        - SelectorsContext:
            parameters:
              selectors:
                css:
                  breadcrumb: ".breadcrumb"
                  breadcrumb first link: ".breadcrumb li:nth-child(1) a"
                  image button in rich text editor body field: "#cke_edit-body-und-0-value .cke_button__image"
                xpath:
                  page title: '//h1[contains(@class, "page-header")'
                  textarea for body field: '//*[@id="edit-body-und-0-value"]'
                  rich text editor for body field: '//iframe[@title="Rich Text Editor, edit-body-und-0-value"]'
                  HTML editor for body field: '//*[@id="edit-body-und-0-value-aced"]'
              files_path: "${behat.tests.dir}/selectors/"
              files:
                - "front-end-selectors.yml"
                - "back-end-selectors.yml"
        - '\Drupal\DrupalExtension\Context\DrupalContext'
        - '\Drupal\DrupalExtension\Context\MinkContext'
        - '\Drupal\DrupalExtension\Context\MessageContext'
        - '\Drupal\DrupalExtension\Context\DrushContext'
        - '\Drupal\DrupalExtension\Context\MarkupContext'
        - '\Drupal\DrupalExtension\Context\BatchContext'
        - '\rdx\behatvars\BehatVariablesContext'
        - behatch:context:browser:
            timeout: 4
        - behatch:context:debug:
            screenshotDir: "${behat.output.dir}/default/screenshots/"
        - behatch:context:json:
            evaluationMode: javascript
        - behatch:context:rest
        - behatch:context:system:
            root: '${docroot}'
        - behatch:context:table
        - behatch:context:xml
      paths:
        - '${behat.tests.dir}/features'
      filters:
        tags: "@init"
  extensions:
    Behat\MinkExtension:
      files_path: "${behat.tests.dir}/assets/"
      zombie: ~
      base_url: "${behat.base_url}"
      javascript_session: selenium_chrome_session
      default_session: goutte_session
      sessions:
        goutte_session:
          goutte:
            guzzle_parameters:
              ssl.certificate_authority: false
        selenium_chrome_session:
          selenium2:
            browser: chrome
            wd_host: "${behat.webdriver_url}"
            capabilities:
              marionette: null
              browserName: chrome
              extra_capabilities:
                chromeOptions:
                  args:
                    - "--window-size=1920,1080"
                    - "--headless"
                    - "--disable-gpu"
                    - "--no-sandbox"
                    - "--disable-dev-shm-usage"
                    - "--disable-extensions"
    Behatch\Extension: ~
    Drupal\DrupalExtension:
      blackbox: ~
      api_driver: 'drupal'
      region_map:
        content: ".main-container"
        footer: "#footer"
        left header: "#header-left"
        right header: "#header-right"
        right sidebar: "#aside-region"
        field body: "#edit-body-wrapper"
      selectors:
        message_selector: '.messages'
        error_message_selector: '.messages.error'
        success_message_selector: '.messages.status'
        warning_message_selector: '.messages.warning'
    emuse\BehatHTMLFormatter\BehatHTMLFormatterExtension:
      name: html
      renderer: Twig
      file_name: index
      print_args: true
      print_outp: true
      loop_break: true
    rdx\behatvars\BehatVariablesExtension: ~
  formatters:
    progress: true
    html:
      output_path: '${behat.output.dir}/default'

init:
  autoload:
    - ${site.profiles.dir}/varbase/tests/features/bootstrap/
  suites:
    default:
      contexts:
        - '\Greencko\tests\Context\GreenckoContext'
        - VarbaseContext:
            parameters:
              varbase_users:
                webmaster: { email: 'webmaster@greencko.site', password: '.test12345' }
                test.authenticated: { email: 'test.authenticated@greencko.site', password: '.12345test' }
                test.editor: { email: 'test.editor@greencko.site', password: '.12345test' }
                test.content_admin: { email: 'test.content_admin@greencko.site', password: '.12345test' }
                test.seo_admin: { email: 'test.seo_admin@greencko.site', password: '.12345test' }
                test.site_admin: { email: 'test.site_admin@greencko.site', password: '.12345test' }
                test.super_admin: { email: 'test.super_admin@greencko.site', password: '.12345test' }
        - SelectorsContext:
            parameters:
              selectors:
                css:
                  breadcrumb: ".breadcrumb"
                  breadcrumb first link: ".breadcrumb li:nth-child(1) a"
                  image button in rich text editor body field: "#cke_edit-body-und-0-value .cke_button__image"
                xpath:
                  page title: '//h1[contains(@class, "page-header")'
                  textarea for body field: '//*[@id="edit-body-und-0-value"]'
                  rich text editor for body field: '//iframe[@title="Rich Text Editor, edit-body-und-0-value"]'
                  HTML editor for body field: '//*[@id="edit-body-und-0-value-aced"]'
              files_path: "${behat.tests.dir}/selectors/"
              files:
                - "front-end-selectors.yml"
                - "back-end-selectors.yml"
        - '\Drupal\DrupalExtension\Context\DrupalContext'
        - '\Drupal\DrupalExtension\Context\MinkContext'
        - '\Drupal\DrupalExtension\Context\MessageContext'
        - '\Drupal\DrupalExtension\Context\DrushContext'
        - '\Drupal\DrupalExtension\Context\MarkupContext'
        - '\Drupal\DrupalExtension\Context\BatchContext'
        - '\rdx\behatvars\BehatVariablesContext'
        - behatch:context:browser:
            timeout: 4
        - behatch:context:debug:
            screenshotDir: "${behat.output.dir}/init/screenshots/"
        - behatch:context:json:
            evaluationMode: javascript
        - behatch:context:rest
        - behatch:context:system:
            root: '${docroot}'
        - behatch:context:table
        - behatch:context:xml
      paths:
        - '${behat.tests.dir}/features'
      filters:
        tags: "@init"
  extensions:
    Behat\MinkExtension:
      files_path: "${behat.tests.dir}/assets/"
      zombie: ~
      base_url: "${behat.base_url}"
      javascript_session: selenium_chrome_session
      default_session: goutte_session
      sessions:
        goutte_session:
          goutte:
            guzzle_parameters:
              ssl.certificate_authority: false
        selenium_chrome_session:
          selenium2:
            browser: chrome
            wd_host: "${behat.webdriver_url}"
            capabilities:
              marionette: null
              browserName: chrome
              extra_capabilities:
                chromeOptions:
                  args:
                    - "--window-size=1920,1080"
                    - "--headless"
                    - "--disable-gpu"
                    - "--no-sandbox"
                    - "--disable-dev-shm-usage"
                    - "--disable-extensions"
    Behatch\Extension: ~
    Drupal\DrupalExtension:
      blackbox: ~
      api_driver: 'drupal'
      region_map:
        content: ".main-container"
        footer: "#footer"
        left header: "#header-left"
        right header: "#header-right"
        right sidebar: "#aside-region"
        field body: "#edit-body-wrapper"
      selectors:
        message_selector: '.messages'
        error_message_selector: '.messages.error'
        success_message_selector: '.messages.status'
        warning_message_selector: '.messages.warning'
    emuse\BehatHTMLFormatter\BehatHTMLFormatterExtension:
      name: html
      renderer: Twig
      file_name: index
      print_args: true
      print_outp: true
      loop_break: true
    rdx\behatvars\BehatVariablesExtension: ~
  formatters:
    progress: true
    html:
      output_path: '${behat.output.dir}/init'

greencko:
  autoload:
    - ${site.profiles.dir}/varbase/tests/features/bootstrap/
  suites:
    default:
      contexts:
        - '\Greencko\tests\Context\GreenckoContext'
        - VarbaseContext:
            parameters:
              varbase_users:
                webmaster: { email: 'webmaster@greencko.site', password: '.test12345' }
                test.authenticated: { email: 'test.authenticated@greencko.site', password: '.12345test' }
                test.editor: { email: 'test.editor@greencko.site', password: '.12345test' }
                test.content_admin: { email: 'test.content_admin@greencko.site', password: '.12345test' }
                test.seo_admin: { email: 'test.seo_admin@greencko.site', password: '.12345test' }
                test.site_admin: { email: 'test.site_admin@greencko.site', password: '.12345test' }
                test.super_admin: { email: 'test.super_admin@greencko.site', password: '.12345test' }
        - SelectorsContext:
            parameters:
              selectors:
                css:
                  breadcrumb: ".breadcrumb"
                  breadcrumb first link: ".breadcrumb li:nth-child(1) a"
                  image button in rich text editor body field: "#cke_edit-body-und-0-value .cke_button__image"
                xpath:
                  page title: '//h1[contains(@class, "page-header")'
                  textarea for body field: '//*[@id="edit-body-und-0-value"]'
                  rich text editor for body field: '//iframe[@title="Rich Text Editor, edit-body-und-0-value"]'
                  HTML editor for body field: '//*[@id="edit-body-und-0-value-aced"]'
              files_path: "${behat.tests.dir}/selectors/"
              files:
                - "front-end-selectors.yml"
                - "back-end-selectors.yml"
        - '\Drupal\DrupalExtension\Context\DrupalContext'
        - '\Drupal\DrupalExtension\Context\MinkContext'
        - '\Drupal\DrupalExtension\Context\MessageContext'
        - '\Drupal\DrupalExtension\Context\DrushContext'
        - '\Drupal\DrupalExtension\Context\MarkupContext'
        - '\Drupal\DrupalExtension\Context\BatchContext'
        - '\rdx\behatvars\BehatVariablesContext'
        - behatch:context:browser:
            timeout: 4
        - behatch:context:debug:
            screenshotDir: "${behat.output.dir}/greencko/screenshots/"
        - behatch:context:json:
            evaluationMode: javascript
        - behatch:context:rest
        - behatch:context:system:
            root: '${docroot}'
        - behatch:context:table
        - behatch:context:xml
      paths:
        - '${behat.tests.dir}/features'
      filters:
        tags: "@init"
  extensions:
    Behat\MinkExtension:
      files_path: "${behat.tests.dir}/assets/"
      zombie: ~
      base_url: "${behat.base_url}"
      javascript_session: selenium_chrome_session
      default_session: goutte_session
      sessions:
        goutte_session:
          goutte:
            guzzle_parameters:
              ssl.certificate_authority: false
        selenium_chrome_session:
          selenium2:
            browser: chrome
            wd_host: "${behat.webdriver_url}"
            capabilities:
              marionette: null
              browserName: chrome
              extra_capabilities:
                chromeOptions:
                  args:
                    - "--window-size=1920,1080"
                    - "--headless"
                    - "--disable-gpu"
                    - "--no-sandbox"
                    - "--disable-dev-shm-usage"
                    - "--disable-extensions"
    Behatch\Extension: ~
    Drupal\DrupalExtension:
      blackbox: ~
      api_driver: 'drupal'
      region_map:
        content: ".main-container"
        footer: "#footer"
        left header: "#header-left"
        right header: "#header-right"
        right sidebar: "#aside-region"
        field body: "#edit-body-wrapper"
      selectors:
        message_selector: '.messages'
        error_message_selector: '.messages.error'
        success_message_selector: '.messages.status'
        warning_message_selector: '.messages.warning'
    emuse\BehatHTMLFormatter\BehatHTMLFormatterExtension:
      name: html
      renderer: Twig
      file_name: index
      print_args: true
      print_outp: true
      loop_break: true
    rdx\behatvars\BehatVariablesExtension: ~
  formatters:
    progress: true
    html:
      output_path: '${behat.output.dir}/greencko'
